body {
    background-size: cover;
    color: white;
    min-height: 100vh;
    padding: 0;
    margin: 0
}

* {
    box-sizing: border-box;
}

button {
    width: 400px;
    max-width: 100%;
    height: 80px;
    font-size: 2rem;
}
.pogg {
    font-weight: bold;
    color: #03a8ff;
}
.bg {
    padding: 1rem;
    width: 100%;
    height: 100vh;
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/

}